.App {
  text-align: center;
  align-items: center;
  background-color: #ff0000;
  margin: auto; }

.header {
  background-color: #ff0000;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .header svg {
    position: absolute;
    top: 0; }
  .header .lightIcon {
    height: 50%;
    margin-left: 1rem;
    z-index: 5; }
  .header .pokeballIcon {
    margin-top: 10%;
    margin-right: 1rem; }

.infos {
  width: 60%;
  height: 45%;
  background-color: white;
  margin: auto;
  margin-top: 5%;
  border: 5px solid black;
  display: flex;
  align-items: center;
  text-align: center; }
  .infos ul {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: white;
    list-style: none;
    display: flex;
    align-items: center;
    text-align: center; }
    .infos ul li {
      width: 80%;
      height: 80%;
      background-color: transparent; }
      .infos ul li img {
        width: 100%;
        height: 100%;
        visibility: visible; }

.options-container {
  width: 92%;
  height: 25%;
  margin: auto;
  margin-top: 0.5rem;
  background-color: #616161;
  border: 2px black solid;
  border-radius: 10px;
  display: inline-block; }
  .options-container h1 {
    width: 95%;
    margin: auto;
    margin-top: 0.5%;
    font-size: 0.8rem;
    background-color: #6ddb3c;
    border: 1px black solid;
    border-radius: 1rem;
    padding: 0.1rem; }
  .options-container .options {
    height: 90%;
    margin-top: 4%;
    display: flex;
    justify-content: space-around;
    text-align: center; }
    .options-container .options .buttonsIcon {
      width: 20%;
      height: 60%; }
    .options-container .options .cancelConfirmContainer {
      width: 18%;
      height: 65%;
      margin-top: 3%; }
      .options-container .options .cancelConfirmContainer .cancelIcon {
        width: 50%;
        display: block;
        cursor: pointer;
        opacity: 0.8; }
        .options-container .options .cancelConfirmContainer .cancelIcon:hover {
          opacity: 1; }
      .options-container .options .cancelConfirmContainer .confirmIcon {
        width: 70%;
        margin-right: -1rem;
        cursor: pointer;
        opacity: 0.8; }
        .options-container .options .cancelConfirmContainer .confirmIcon:hover {
          opacity: 1; }
    .options-container .options form {
      height: 100%; }
      .options-container .options form input {
        height: 60%;
        background-color: #6ddb3c;
        border: 1px black solid;
        padding: 0.1rem;
        color: black;
        font-size: 0.8rem;
        text-align: center; }
        .options-container .options form input::placeholder {
          color: black;
          font-size: 0.8rem; }

@media screen and (min-width: 0px) {
  .App {
    min-height: 720px;
    width: 100%; }
  .header {
    width: 100%;
    height: 18%; }
    .header svg {
      width: 100%; }
    .header .lightIcon {
      height: 50%;
      margin-top: 1%; }
    .header .pokeballIcon {
      width: 20%;
      height: 50%; } }

@media screen and (min-width: 321px) {
  .App {
    min-height: 720px;
    height: 100vh;
    width: 100%; }
  .header {
    width: 100%;
    height: 18%; }
    .header svg {
      width: 100%; }
    .header .lightIcon {
      height: 65%;
      margin-top: 1%; }
    .header .pokeballIcon {
      width: 15%;
      height: 50%; } }

@media screen and (min-width: 426px) {
  .App {
    height: 100vh;
    width: 420px; }
  .header {
    width: 100%;
    height: 18%; }
    .header svg {
      width: 420px; }
    .header .lightIcon {
      height: 90%;
      margin-top: 1%; }
    .header .pokeballIcon {
      width: 16%;
      height: 70%; }
  .options-container {
    width: 80%; } }

@media screen and (min-width: 769px) {
  .App {
    height: 100vh;
    width: 40%; }
  .header {
    width: 100%;
    height: 18%; }
    .header svg {
      width: 40%; }
    .header .lightIcon {
      height: 90%;
      margin-top: 1%; }
    .header .pokeballIcon {
      width: 16%;
      height: 70%; }
  .infos ul li {
    width: 87%; }
  .options-container .options form input {
    font-size: 1rem; } }

@media screen and (min-width: 1441px) {
  .infos ul li {
    width: 92%; }
  .options-container h1 {
    font-size: 1.8rem; }
  .options-container .options form input {
    font-size: 2rem; } }

.modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #6161618f;
  display: flex;
  justify-content: center;
  align-items: center; }
  .modal .modalContainer {
    background-color: #616161;
    color: black;
    font-size: 1rem;
    color: white;
    width: 50%;
    height: 30%;
    border: 3px black solid;
    border-radius: 20px;
    box-shadow: 0 0 50px 50px rgba(0, 0, 0, 0.2); }
  .modal .closeButton {
    width: 3rem;
    height: 3rem;
    right: calc(-100% + 64px);
    top: 16px;
    cursor: pointer;
    display: flex;
    position: relative;
    align-items: center;
    opacity: 0.8; }
    .modal .closeButton:hover {
      opacity: 1; }
